



  <!-- START PRELOADER -->
	<div id="page-preloader">
		<div class="preloader-wrench"></div>
	</div>
  <!-- END PRELOADER-->
  <!-- START HEADER SECTION -->
<header class="main-header header-1">

  <fheader></fheader>
<app-header></app-header>

</header>
<!-- END HEADER SECTION -->



    <!-- START ABOUT SECTION -->
      <section id="about" class="section-padding">
          <div class="container">
              <div class="row">
          <div class="col-lg-7 text-center mx-auto">
                      <div class="section-title">
                          <h3>Welcome to <span>HOMED</span></h3>
                          <span class="line"></span>
                          <p>Platform that brings together good nutritionists. </p>
                      </div>
          </div>
          <!-- end section title -->
        </div>
        <div class="row text-center">
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
            <div class="single-about">
              <div class="single-about-icon">
                <img class="img-fluid" src="assets/img/bg/icon-2.png" alt="" />
              </div>
              <h5>Our Mission</h5>
              <p> Group doctors and different users</p>
                <p>Promotes discussion with an assistant </p>
            </div>
          </div>
          <!-- end single about -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
            <div class="single-about">
              <div class="single-about-icon">
                <img class="img-fluid" src="assets/img/bg/icon-1.png" alt="" />
              </div>
              <h5>Our History</h5>
              <p>HOMED is a platform created in 2020</p>
            </div>
          </div>
          <!-- end single about -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
            <div class="single-about">
              <div class="single-about-icon">
                <img class="img-fluid" src="assets/img/bg/icon-4.png" alt="" />
              </div>
              <h5>Our Vision</h5>
              <p>Make it easier for a user to find a doctor </p>
              <p>Make it easier for a doctor to have more patients and subscribers</p>
            </div>
          </div>
          <!-- end single about -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
            <div class="single-about">
              <div class="single-about-icon">
                <img class="img-fluid" src="assets/img/bg/icon-3.png" alt="" />
              </div>
              <h5>Our Success</h5>
              <p>Our success is your satisfaction.</p>
            </div>
          </div>
          <!-- end single about -->




        </div>
          </div>
          <!--- END CONTAINER -->
      </section>
      <!-- END ABOUT SECTION -->

      <app-footer></app-footer>

