  <!-- START TOP AREA -->
  <div class="top-area">
    <div class="auto-container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="header-social">
            <ul>
               <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
               <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
               <li><a href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
               <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
               <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- end col -->
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="info-menu">
            <ul>
              <li><a routerLink="/login">Login </a></li>
              <li><a routerLink="/register">Register </a></li>

              <li><a routerLink="/login">Contact </a></li>
            </ul>
          </div>
        </div>
        <!-- end col -->
      </div>
    </div>
  </div>
  <!-- END TOP AREA -->
