  <!-- START FOOTER -->
  <footer>
    <!--Footer top -->
 <div class="footer-top overlay-2 section-back-image-2" data-background="assets/img/bg/counter-bg.jpg">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12  mb-lg-0 mb-md-4 mb-sm-5 mb-5 footer-widget">
                    <div class="footer-section-title col-12 p-0 mb-4">
                        <h5>About Us</h5>
                    </div>
                    <!-- end widget title -->
                    <div class="about">
                        <p>HOMED the only plateform that regroup nutrition doctors and users.</p>
                    </div>
                    <div class="footer-logo">
                        <a href="#">
             <img class="img-fluid" src="assets/img/app-google.png" alt="">
          </a>
                        <a href="#">
             <img class="img-fluid" src="assets/img/app-apple.png" alt="">
          </a>
                    </div>
                </div>
                <!-- End Widget -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-12  mb-lg-0 mb-md-4 mb-sm-5 mb-5 footer-widget">
                    <div class="footer-section-title col-12 p-0 mb-4">
                        <h5>Our Associates</h5>
                    </div>
                    <!-- end widget title -->
        <ul class="quick-link-list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">HOMED</a></li>
        </ul>
                    <div class="footer-section-title col-12 p-0 mt-4 mb-4">
                        <h5>Get Connected</h5>
                    </div>
                    <!-- end widget title -->
        <div class="footer-social">
          <ul>
             <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
             <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
             <li><a href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
             <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
          </ul>
        </div>
                </div>
                <!-- End Widget -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-12  mb-lg-0 mb-md-0 mb-sm-5 mb-5 footer-widget">
                    <div class="footer-section-title col-12 p-0 mb-4">
                        <h5>What's new</h5>
                    </div>
                    <!-- end widget title -->
                    <div class="single-wn-slider owl-carousel owl-theme">
                        <div class="single-wn-item">
            <p>How to Prevent obesity ?</p>
            <p>how to have a fair body in good health ?</p>
          </div>
                  <!--
                    <div class="single-wn-item">
                                <p>Need To Know About Scoliosis?</p>
                                <p>Scoliosis is a sideward bend of the spine which usually occurs in children, but can also sometimes affect adults. A normal spine is curved on the top of the shoulder.</p>
                              </div>
                  -->

                    </div>
        <a class="wn-readm" href="#">Know more</a>
                </div>
                <!-- End Widget -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-12 footer-widget">
                    <div class="footer-section-title col-12 p-0 mb-4">
                        <h5>Stay With us</h5>
                    </div>
                    <!-- end widget title -->
        <ul class="quick-link-list">
          <li><a href="#"><i class="lnr lnr-map-marker"></i> 4000, Issat So, Sousse</a></li>
          <li><a href="#"><i class="lnr lnr-envelope "></i> areffatma2016@gmail.com</a></li>
          <li><a href="#"><i class="icofont icofont-clock-time"></i> Open: 24/24</a></li>
        </ul>
                 <!--
                    <div class="footer-section-title col-12 p-0 mt-4 mb-4">
                                            <h5>Get Updated</h5>
                                        </div>
                 -->
                    <!-- end widget title -->
                    <!--
                        <div class="foo-news">
          <form action="#" method="post">
            <div class="row m-0">
              <div class="form-group col-lg-10 col-md-10 col-sm-10 col-10 p-0">
                <input name="fnews"  type="email" class="form-control" placeholder="Your email here...">
              </div>
              <div class="form-group col-lg-2 col-md-2 col-sm-2 col-2 p-0">
                <button type="submit" class="btn fnews-btn"><i class="icofont icofont-location-arrow"></i></button>
              </div>
            </div>
          </form>
        </div>
                    -->

                </div>
                <!-- End Widget -->
            </div>
        </div>
    </div>
<div class="copyright">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 copyright-text">
                    <p>Copyright © 2020 <a href="#"> HOMED</a> | All Rights Reserved</p>
                </div>
            <!--
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 footer-menu">

                </div>
            -->
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
